<div class="add-new">
    <%= button_to "Random Outfit", action: "create", 
        :class => "btn btn-primary", :method => :post %>
</div> 
  
<div class="dropdown">
<button class="btn btn-secondary dropdown-toggle"
        type="button" id="dropdownMenu1" data-toggle="Shirts"
        aria-haspopup="true" aria-expanded="false">
    Dropdown
</button>
<div class="dropdown-menu" aria-labelledby="Shirts">

    <a class="dropdown-item" href="#!">1</a>
    <a class="dropdown-item" href="#!">2</a>
    <a class="dropdown-item" href="#!">3</a>
 
    
</div>
</div>