
<div class="row justify-content-center align-items-center" style="height:70vh">
  <div class="col-4">
    <div class="card sign-up">
      <div class="card-header">
          <h1 class="h3 mb-2 font-weight-normal">Edit Profile</h1>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
