/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 $theme-colors: (
  "primary": #304ffe,
  "secondary": #e91e63,
  "success": #0032f8,
  "light": #7a7cff,
  "dark": #0026ca,
  
  "info": #ffff54,
  "warning": #ff9f65,
  "danger": #ff457b
  
);

@import "font-awesome";
@import "bootstrap";
* {
  font-family: 'Rubik', serif;
}

a {
  color: #ffffff;
}
 
.add-new {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-column {
  padding: 1.5rem;
}

.footer {
  background-color:  #7a7cff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.footer a:hover {
  background: #f1f1f1;
  color: black;
}

.footer a.active {
  background-color: #0026ca;
  color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.has-error .form-control{
  border-width: 1px;
  border-color:#ff457b ;
}

.card-clothing {
  float: none;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 50%;
  justify-content: center !important;
  margin-top: 30px;
}

.left-float {
    display: inline-flex;
    color: #292929;
    font-weight: 300;
    font-size: 4em;
}

body{
  color: #292929;
  
}
.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}

/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #0026ca;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #0026ca;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}

.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

section#about {
  margin-top: 1rem;
  border-radius: 5px;
}
.about-section .counter {
margin-top: 10px;
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #0026ca;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(#ff457b, #ff457b);
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #ff457b;
}
.dark-color {
  color: #0026ca;
}

.edit-color {
  color: #90A4AE;
}
.edit-color:active, .edit-color:hover {
  color: #78909C;
}
.sign-up {
  margin-top: 1rem;
}

.home-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.alert-container {
  margin-top: 1rem;
  display: flex;
  
}

.sign-up {
  color: primary;
}