/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 $theme-colors: (
   
  "secondary": #CACACA,
  "success": #015668,
  "light": #ececec,
  "dark": #18181d,
  
  "info": #7164ff,
  "warning": #ff9f65,
  "danger": #ff457b
  
);
 @import "bootstrap";

 
.add-new {
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-column {
  padding: 1.5rem;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.has-error .form-control{
  border-width: 1px;
  border-color:#ff457b ;
}

.card-clothing {
  float: none;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 60%;
  justify-content: center !important;
  margin-top: 30px;
}

.left-float {
    display: inline-flex;
    color: #666;
    font-weight: 300;
    font-size: 4em;
}