// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

form{
	padding-top: 10px;
	margin-top: 30px;
}

.login-form{ 
	width:330px;
	margin:20px;
}
